<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items">
                <li class="list-item" ng-click="addCatalogItems()">
                    <i class="list-ico fa fa-folder"></i>
                    <span class="list-t" ng-bind="'sitemapsModule.blades.addItems.addCatalogItems.title' | translate"></span>
                    <span class="list-descr" ng-bind="'sitemapsModule.blades.addItems.addCatalogItems.description' | translate"></span>
                </li>
                <li class="list-item" ng-click="addCustomItem()">
                    <i class="list-ico fa fa fa-link"></i>
                    <span class="list-t" ng-bind="'sitemapsModule.blades.addItems.addCustomItem.title' | translate"></span>
                    <span class="list-descr" ng-bind="'sitemapsModule.blades.addItems.addCustomItem.description' | translate"></span>
                </li>
            </ul>
        </div>
    </div>
</div>